html, body {
	width:100%;
	height:100%;

	margin:0;
	padding:0;

	overflow: hidden;
	position: fixed;

	background:#222;
}

html {
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	text-size-adjust: none;
}

h1,h2,h3,h4,text,p,input,button {
	-webkit-font-smoothing: antialiased;
	-moz-osx-webkit-font-smoothing: antialiased;
	font-family: 'Open Sans', sans-serif;
}

input {
	margin:0;
	border:none;
}

textarea:focus, input:focus{
	outline: none;
}

.container {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	right: 10%;

	display: block;

	p {
		font-size:100px;
		color:white;
		letter-spacing:25px;
	}

	.resultInput {
		width:100%;
		font-size:100px;
		color:black;
		letter-spacing:25px;
		text-align:right;
		box-sizing: border-box;
		padding-right: 100px;
		transition: color .25s ease-out;
	}

	#result.success {
		color:#00AA00
	}

	#result.failed {
		color:#AA0000;
		text-decoration: line-through;
	}

	.btnSubmit {
		position: fixed;
		right:134px;
		margin-top:20px;
		-webkit-font-smoothing: antialiased;
		-moz-osx-webkit-font-smoothing: antialiased;
		font-family: 'Open Sans', sans-serif;
		font-size:25px;
		padding:10px 20px 10px 20px;
	}
}

.container-result {
	margin-top:20px;
}

.inner-container {
	float: left;
	border: none;
}

.inner-container.left {
	width:40%;

	input {
		padding-right: 0;
		color:#00AA00
	}
}

.inner-container.right {
	width:60%;
}

.field {
	margin:5px;
	margin-right:100px;
	padding:10px;
	text-align:right;
}

.score {
	position: fixed;
	bottom:0px;
	width:100%;
	left:50px;
	color:white;
	font-size:40px;
}